extends template

block content
		#login-container.container-fluid.d-flex.flex-column.align-items-center
		#login-box.rounded
				h1(id="title")= title
				h3(id="error")= error
				form(id="form" method='GET' action='/chat')
					input(id="input-nickname" type='text' name='nickname')
					input(id="input-submit" type='submit' value='Login to the chat')