:root {
    --color-primary: #ffd61dd1;
    --color-secondary: #28334AFF;
    --color-black: #212529;
    --color-background: #f2eadc;
}

body {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    border-radius: 7px;
}

@media only screen and (max-width: 575px) {
    div.row-rooms{
        display:none;
    }

    div.row-chat{
        width: 100vh;
    }
}

/* .container {
    width: 100%;
    height: 95vh;
    border: thin solid black;
    padding: 0;
    margin: 0;
    display: flex;
    border-radius: 7px;
    box-shadow: grey;
} */

.row-rooms {
    width: 30vw;
    display: inline-block;
    border-right: thin solid var(--color-black);
    background-color: #ffe2b1;
}

.title {
    height: 10%;
    background-color: var(--color-primary);
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    height: 10%;
    background-color: var(--color-primary);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rooms {
    display: inline-block;
    width: 100%;
    overflow-y: scroll;
    height: 70%;
}

#image {
    display: none;
}

.newRoomCreation {
    height: 10%;
}

.newRoom {
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}

.newRoomActivity {
    height: 60%;
    display: flex;
    align-items: center;
}

#newRoomName {
    height: 80%;
    width: 70%;
    margin-left: 10%;
    border-radius: 7px;
    padding-left: 3%;
    padding-right: 3%;
}

#newRoomButton {
    width: 20%;
    text-align: center;
}

.room-drawer,
.user-drawer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    height: 10vh;
    display: flex;
    align-items: center;
}

.room-name,
.user-name {
    width: 80%;
    text-align: center;
}

.room-button,
.user-button {
    width: 20%;
    text-align: center;
    display: flex;
}

.usersPanelOpener {
    height: 10%;
    border: thin solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    background-color: var(--color-primary);
}

i#users {
    transition: none;
}

.usersPanelOpener:hover {
    background-color: #FBDE44FF;
    color: red;
    cursor: pointer;
}

i {
    padding-left: 10px;
    padding-right: 10px;
    transition: .3s;
}

i:hover {
    color: red;
    cursor: pointer;
}

.row-chat {
    width: 70vw;
    background-image: url("/images/chat_background.png");
}

.chat-panel {
    overflow-y: scroll;
    height: 90%;
    padding-bottom: 7.5%;
    scroll-behavior: smooth;
}

.chat-bubble-left,
.chat-bubble-right {
    border-collapse: collapse;
    display: flex;
}

.chat-bubble-left {
    display: block;
}

#nickname {
    font-size: small;
    padding-left: 1%;
    color: grey;
}

.contentContainer {
    padding: 0;
}

.chat-bubble-right {
    align-items: center;
    justify-content: flex-end;
}

.content {
    padding: 10px 14px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    margin: 0px 30px;
    border-radius: 9px;
    max-width: 30%;
    width: fit-content;
    text-align: left;
    word-wrap: break-word;
}

.image {
    height: 100%;
    width: 100%;
}

.event {
    width: 100%;
    text-align: center;
    color: grey;
    font: outline;
}

.sendline {
    /* background-color: #9FC131FF; */
    position: relative;
    height: 7.5%;
    bottom: 7.5%;
    display: flex;
    align-items: center;
}

.sendtext {
    width: 100%;
    text-align: center;
}

.input {
    width: 100%;
    border-radius: 7px;
    text-align: left;
    padding-left: 1%;
    padding-right: 1%;
}